<div class="well sidebar-nav">
<ul class="nav nav-list">
  <li class="nav-header">类列表</li>
  <for each="thisClass" in="data">
	<li>{!
		if (thisClass.alias == "_global_") {
		}
		else {
			output += new Link().toClass(thisClass.alias);
		}
	!}</li>
	</for> 
</ul>
</div>